@inherits LayoutComponentBase

<BootstrapBlazorRoot>
    <Layout ShowGotoTop="true" ShowCollapseBar="true" ShowFooter="@ShowFooter" SideWidth="0"
            IsPage="true" IsFullSide="@IsFullSide" IsFixedHeader="@IsFixedHeader" IsFixedFooter="@IsFixedFooter"
            ShowSplitBar="true" SidebarMinWidth="200" SidebarMaxWidth="350"
            TabStyle="TabStyle.Chrome" ShowToolbar="false" ShowTabContextMenu="true"
            ShowTabInHeader="@ShowTabInHeader" ShowTabExtendButtons="false"
            TabDefaultUrl="/" UseTabSet="@UseTabSet" IsFixedTabHeader="IsFixedTabHeader" AdditionalAssemblies="new[] { GetType().Assembly }"
            Menus="@Menus" class="@Theme">
        <Header>

        </Header>
        <Side>
            <div class="layout-banner">
                <div class="layout-title">
                    <span>HG工具箱</span>
                </div>
            </div>
        </Side>
        <Main>
            <CascadingValue Value="this" IsFixed="true">
                @Body
            </CascadingValue>
        </Main>
        <Footer>
            @* <div class="text-center flex-fill"> *@
            @*     <a class="page-layout-demo-footer-link" href="https://pro.blazor.zone/" target="_blank">Bootstrap Admin</a> *@
            @* </div> *@
        </Footer>
    </Layout>
</BootstrapBlazorRoot>

<div id="blazor-error-ui">
    发生未知错误
    <a href="" class="reload">刷新</a>
    <a class="dismiss">🗙</a>
</div>
